spring.application.name=Backend
spring.datasource.url=jdbc:mysql://localhost:3306/itjobs_db
spring.datasource.username=root
spring.datasource.password= pass của mysql 

jwt.secret=nhom6congnghephanmemfinalproject
jwt.expiration=86400000

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true